/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента
@import './utilites/reset';
@import './utilites/variables';
@import './utilites/hiddens';
@import './utilites/mixins';
@import './utilites/placeholders';
// ==================================
@import './base/common';
@import './base/container';
@import './layout/buttons';
@import './components/section-title';
@import './components/section-pretitle';
@import './base/section';
@import './base/card-set';
// ===================================
@import './layout/header';
@import './layout/hero';
@import './layout/products';
@import './layout/about';
@import './layout/advantages';
@import './layout/gallery';
@import './layout/reviews';
@import './layout/contacts';
@import './layout/footer';

// ====================================
@import './components/modal-window';
