<section class="advantages" id="advantages" >

    <div class="container advantages__container">
        <h3 class="visually-hidden" aria-label="Advantages" lang="en-GB"> Advantages </h3>

        <div class="advantages__list"> 
            <div class="advantages__item item1">
                <!-- <picture>
                    <source srcset="./images/advantages/icon-1@1x.png 1x, ./images/advantages/icon-1@2x.png 2x"
                    type="image/png">

                    <source srcset="./images/advantages/icon-1@1x.webp 1x, ./images/advantages/icon-1@2x.webp 2x"
                    type="image/webp"> 
                    <img src="./images/advantages/icon-1@1x.png"
                    alt="Advantages 1st icon" class="advantages__icon">        
                </picture>   -->

                <p class="advantages__title">721</p>
                <p class="advantages__description">
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>
            </div>
           
            <div class="advantages__item item2">
                <!-- <picture>
                    <source srcset="./images/advantages/icon-2@1x.png 1x, ./images/advantages/icon-2@2x.png 2x"
                    type="image/png">

                    <source srcset="./images/advantages/icon-2@1x.webp 1x, ./images/advantages/icon-2@2x.webp 2x"
                    type="image/webp"> 
                    <img src="./images/advantages/icon-2@1x.png"
                    alt="Advantages 2nd icon" class="advantages__icon">        
                </picture>  -->
                <p class="advantages__title">16kg</p>
                <p class="advantages__description">
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>

            </div>
           
            <div class="advantages__item item3">
                <!-- <picture>
                    <source srcset="./images/advantages/icon-3@1x.png 1x, ./images/advantages/icon-3@2x.png 2x"
                    type="image/png">

                    <source srcset="./images/advantages/icon-3@1x.webp 1x, ./images/advantages/icon-3@2x.webp 2x"
                    type="image/webp"> 
                    <img src="./images/advantages/icon-3@1x.png"
                    alt="Advantages 3rd icon" class="advantages__icon">        
                </picture>  -->
                <p class="advantages__title">84</p>
                <p class="advantages__description">
                Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>

            </div>   
        </div>
    </div>
</section>





