<section class="advantages" aria-label="Advantages">

    <div class="container">
        <h3 hidden=”true”> Advantages </h3>

        <div class="advantages__list">
            <div class="advantages__item item1">
                <img 
                    srcset="../src/images/advantages/icon-1@1x.png 1x, ../src/images/advantages/icon-1@2x.png 2x "
                    
                    src="../src/images/advantages/icon-1@1x.png"
                alt="Advantages 1st icon" class="advantages__icon">

                <p class="advantages__title">721</p>
                <p class="advantages__description">
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>

            </div>
           
            <div class="advantages__item item2">
                <img 
                srcset="../src/images/advantages/icon-2@1x.png 1x, ../src/images/advantages/icon-2@2x.png 2x "
                
                src="../src/images/advantages/icon-2@1x.png"
            alt="Advantages 1st icon" class="advantages__icon">
                <p class="advantages__title">16kg</p>
                <p class="advantages__description">
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>

            </div>
           
            <div class="advantages__item item3">
                <img 
                srcset="../src/images/advantages/icon-3@1x.png 1x, ../src/images/advantages/icon-3@2x.png 2x "
                
                src="../src/images/advantages/icon-3@1x.png"
            alt="Advantages 1st icon" class="advantages__icon">
                <p class="advantages__title">84</p>
                <p class="advantages__description">
                Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>

            </div>
            
        </div>

    </div>

</section>





