 <section class="contact" id="contacts">           
        <div class="container">
            <!-- <h2 class="visually-hidden">Contacts</h2> -->
            <ul class="contact__list list">
                <li class="contact__item">        
                    <div class="contact__border">
                        <p class="contact__title">CAFE</p>        
                        <p class="contact__city">Chicago</p>
                        <p class="contact__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    </div>            
                    
                    <ul class="contact__border list">
                        <li class="contact__border-item">
                            <p class="contact__border-days">Monday - Friday</p>
                            <p class="contact__border-clock">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="contact__border-item">
                            <p class="contact__border-days">Saturday - Sunday</p>
                            <p class="contact__border-clock">08:00 AM - 16:00 PM</p>
                        </li>                 
                    </ul>
                    <address>
                        <ul class="address__list list">
                            <li class="address__item"><a class="address__link link" href="tel:+610383766284 ">+61(0) 383 766 284</a></li>
                            <li class="address__item"><a class="address__link link" href="mailto:noreply@envato.com">noreply@envato.com</a></li>
                        </ul>
                    </address>
                        
                </li>
                <li class="contact__item">        
                    <div class="contact__border">
                        <p class="contact__title foodtruck">FOODTRUCK</p>        
                        <p class="contact__city">Los Angeles</p>
                        <p class="contact__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    </div>            
                    
                    <ul class="contact__border list">
                        <li class="contact__border-item">
                            <p class="contact__border-days">Monday - Friday</p>
                            <p class="contact__border-clock">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="contact__border-item">
                            <p class="contact__border-days">Saturday - Sunday</p>
                            <p class="contact__border-clock">08:00 AM - 16:00 PM</p>
                        </li>                 
                    </ul>
                    <address>
                        <ul class="address__list list">
                            <li class="address__item"><a class="address__link link" href="tel:+610383766284 ">+61(0) 383 766 284</a></li>
                            <li class="address__item"><a class="address__link link" href="mailto:noreply@envato.com">noreply@envato.com</a></li>
                        </ul>
                    </address>
                        
                </li>
               <li class="contact__item">        
                    <div class="contact__border">
                        <p class="contact__title">CAFE</p>        
                        <p class="contact__city">New York</p>
                        <p class="contact__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    </div>            
                    
                    <ul class="contact__border list">
                        <li class="contact__border-item">
                            <p class="contact__border-days">Monday - Friday</p>
                            <p class="contact__border-clock">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="contact__border-item">
                            <p class="contact__border-days">Saturday - Sunday</p>
                            <p class="contact__border-clock">08:00 AM - 16:00 PM</p>
                        </li>                 
                    </ul>
                    <address>
                        <ul class="address__list list">
                            <li class="address__item"><a class="address__link link" href="tel:+610383766284 ">+61(0) 383 766 284</a></li>
                            <li class="address__item"><a class="address__link link" href="mailto:noreply@envato.com">noreply@envato.com</a></li>
                        </ul>
                    </address>
                        
                </li>
                
            </ul>
            <div class="contact__buttons">
                <button class="contact__buttons-btn ">Our Locations
                    <img src="./images/icon/icon-btn_white.svg" alt="White Vector" width="8" height="10" class="contact__buttons-icon">
                </button>
                <button class="contact__buttons-btn contact__buttons-btn--white">Franchise
                   <img src="./images/icon/icon-btn_pink.svg" alt="Pink Vector" width="8" height="10" class="contact__buttons-icon">
                </button>
            </div>
        </div>
    </section>