 <section class="contact" id="contacts">           
        <div class="container">
            <!-- <h2 class="visually-hidden">Contacts</h2> -->
            <ul class="contact__list list">
                <li class="contact__item">        
                    <div class="contact__border">
                        <p class="contact__title">CAFE</p>        
                        <p class="contact__city">Chicago</p>
                        <p class="contact__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    </div>            
                    
                    <ul class="contact__border list">
                        <li class="contact__border-item">
                            <p class="contact__border-days">Monday - Friday</p>
                            <p class="contact__border-clock">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="contact__border-item">
                            <p class="contact__border-days">Saturday - Sunday</p>
                            <p class="contact__border-clock">08:00 AM - 16:00 PM</p>
                        </li>                 
                    </ul>
                    <address>
                        <ul class="address__list list">
                            <li class="address__item"><a class="address__link link" href="tel:+610383766284 ">+61(0) 383 766 284</a></li>
                            <li class="address__item"><a class="address__link link" href="mailto:noreply@envato.com">noreply@envato.com</a></li>
                        </ul>
                    </address>
                        
                </li>
                <li class="contact__item">        
                    <div class="contact__border">
                        <p class="contact__title contact__title--bg-green">FOODTRUCK</p>        
                        <p class="contact__city">Los Angeles</p>
                        <p class="contact__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    </div>            
                    
                    <ul class="contact__border list">
                        <li class="contact__border-item">
                            <p class="contact__border-days">Monday - Friday</p>
                            <p class="contact__border-clock">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="contact__border-item">
                            <p class="contact__border-days">Saturday - Sunday</p>
                            <p class="contact__border-clock">08:00 AM - 16:00 PM</p>
                        </li>                 
                    </ul>
                    <address>
                        <ul class="address__list list">
                            <li class="address__item"><a class="address__link link" href="tel:+610383766284 ">+61(0) 383 766 284</a></li>
                            <li class="address__item"><a class="address__link link" href="mailto:noreply@envato.com">noreply@envato.com</a></li>
                        </ul>
                    </address>
                        
                </li>
               <li class="contact__item">        
                    <div class="contact__border">
                        <p class="contact__title">CAFE</p>        
                        <p class="contact__city">New York</p>
                        <p class="contact__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    </div>            
                    
                    <ul class="contact__border list">
                        <li class="contact__border-item">
                            <p class="contact__border-days">Monday - Friday</p>
                            <p class="contact__border-clock">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="contact__border-item">
                            <p class="contact__border-days">Saturday - Sunday</p>
                            <p class="contact__border-clock">08:00 AM - 16:00 PM</p>
                        </li>                 
                    </ul>
                    <address>
                        <ul class="address__list list">
                            <li class="address__item"><a class="address__link link" href="tel:+610383766284 ">+61(0) 383 766 284</a></li>
                            <li class="address__item"><a class="address__link link" href="mailto:noreply@envato.com">noreply@envato.com</a></li>
                        </ul>
                    </address>
                        
                </li>
                
            </ul>
            <div class="contact__buttons">
                <button class="contact__buttons-btn "data-map-open>Our Locations
                    <img src="./images/icon/icon-btn_white.svg" alt="White Vector" width="8" height="10" class="contact__buttons-icon">
                </button>
                <button class=" contact__buttons-btn--white">Franchise
                   <img src="./images/icon/icon-btn_pink.svg" alt="Pink Vector" width="8" height="10" class="contact__buttons-icon">
                </button>
            </div>
        </div>
        <div class="contact__maps is-hidden"data-map>
            <div class="contact__backdrop ">
                <div class="contact__modal-maps">
                    <img src="./images/favicon.png" alt="Pink Vector" width="40" height="40" class="contact__maps-img">
                    <div class="contact__close-btn "data-map-close></div>
                    <iframe class="contact__iframe" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d341356.64818061143!2d-118.33933551694679!3d34.04097899058215!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2c75ddc27da13%3A0xe22fdf6f254608f4!2z0JvQvtGBLdCQ0L3QtNC20LXQu9C10YEsINCa0LDQu9GW0YTQvtGA0L3RltGP!5e0!3m2!1suk!2sus!4v1645445683747!5m2!1suk!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
        </div>
        
        
    </section>