<section class="reviews" id="reviews">
    <div class="container">
        <h2 class="visually-hidden">Customer Reviews</h2>
        <div class="reviews__slider">
            <div class="reviews__item">
                <picture>
                    <source srcset="./images/reviews/review-1@1x_85x85px.webp 1x,
                                     ./images/reviews/review-1@2x_85x85px.webp 2x"
                        type="image/webp"/>

                    <source srcset="./images/reviews/review-1@1x_85x85px.png 1x,
                                    ./images/reviews/review-1@2x_85x85px.png 2x"
                    type="image/png"/>
        
                    <img class="reviews__customer"
                    src="./images/reviews/review-1@1x_85x85px.png" alt="Emily" width="85">
                </picture>
                <div class="reviews__text-box">
                <p class="reviews__text">
                    Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem.
                    In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                </p>
                </div>
                <p class="reviews__name">Emily, Los Angeles</p>
            </div>

            <div class="reviews__item">
                <picture>
                    <source srcset="./images/reviews/review-2@1x_85x85px.webp 1x,
                                     ./images/reviews/review-2@2x_85x85px.webp 2x"
                        type="image/webp"/>

                    <source srcset="./images/reviews/review-2@1x_85x85px.png 1x,
                                    ./images/reviews/review-2@2x_85x85px.png 2x"
                    type="image/png"/>
        
                    <img class="reviews__customer"
                    src="./images/reviews/review-2@1x_85x85px.png" alt="Emily" width="85">
                </picture>
                <div class="reviews__text-box">
                <p class="reviews__text">
                    Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem.
                    In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                </p>
                </div>
                <p class="reviews__name">Emily, Los Angeles</p>
            </div>

            <div class="reviews__item">
                <picture>
                    <source srcset="./images/reviews/review-3@1x_85x85px.webp 1x,
                                    ./images/reviews/review-3@2x_85x85px.webp 2x"
                        type="image/webp"/>

                        <source srcset="./images/reviews/review-3@1x_85x85px.png 1x,
                                        ./images/reviews/review-3@2x_85x85px.png 2x"
                        type="image/png"/>
        
                    <img class="reviews__customer" 
                    src="./images/reviews/review-3@1x_85x85px.png" alt="Emily" width="85">
                </picture>
                <div class="reviews__text-box">
                <p class="reviews__text">
                    Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem.
                    In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                </p>
                </div>
                <p class="reviews__name">Emily, Los Angeles</p>
            </div>
        </div>
    </div>   
</section>