<section class="reviews-section">
    <div class="container">
        <!-- <picture>
            <source srcset="" type="image/jpg" media="(max-width:767px)"/>
            <source srcset="./images/r " type="image/jpg" media="(min-width:768px)" />
            <source srcset="вставить фото 1x, вставить фото 2x" type="image/jpg" media="(min-width:1200px)" />
            <img class="reviews-photo" src="../images/reviews/review-1@2x_85x85px.png" alt="Emily">
        </picture> -->


        <div class="reviews-description">
            <svg class="reviews-quotes">
                <use href="./images/reviews/icon-quotes.svg#icon-quotes"></use>
            </svg>
            <div class="reviews-wrapper-text">
                <p class="reviews-text">
                    Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem.
                    In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                </p>
                <div class="reviews-stripes"></div>
            </div>
        </div>

        <div class="reviews-circle">
            <span class="reviewsk-circle-icon"></span>
            <span class="reviews-circle-icon"></span>
            <span class="reviews-circle-icon"></span>
        </div>
        <p class="reviews-text-name">Emily, Los Angeles</p>
    </div>
    <ul class="reviews-icons">
        <li class="reviews-icons-label">
            <a class="reviews-icon-list" href="">
                <!-- <svg class="reviews-icon-list-svg">
                    <use href="./images/svg/feedback.svg#icon-house"></use>
                </svg> -->
            </a>
        </li>
        <li class="reviews-icons-label">
            <a class="reviews-icon-list-background" href=""></a>
        </li>
        <li class="reviews-icons-label">
            <a class="reviews-icon-list-background" href=""></a>
        </li>
    </ul>
</section>