<section class="gallery" id="gallery">
   
    <div class="container">

        <ul class="mosaic">
            <li class="mosaic__item">
                <img class="gallery__img"
                src="../src/images/gallery/mosaic/image1.png" alt="">
            </li>
          
            <li class="mosaic__item">
                <img class="gallery__img"
                src="../src/images/gallery/mosaic/image2.png" alt="">
            </li>

            <li class="mosaic__item">
                <img class="gallery__img"
                src="../src/images/gallery/mosaic/image3.png" alt="">
            </li>
         
            <li class="mosaic__item">
                <img class="gallery__img"
                src="../src/images/gallery/mosaic/image4.png" alt="">
            </li>

            <li class="mosaic__item">
                <img class="gallery__img"
                src="../src/images/gallery/mosaic/image5.png" alt="">
            </li>
    
          
            <li class="mosaic__item">
                <img class="gallery__img"
                src="../src/images/gallery/mosaic/image6.png" alt="">
            </li>

            <li class="mosaic__item">
                <img class="gallery__img"
                src="../src/images/gallery/mosaic/image7.png" alt="">
            </li>
          
    
            <li class="mosaic__item">
                <img class="gallery__img"
                src="../src/images/gallery/mosaic/image8.png" alt="">
            </li>

            <li class="mosaic__item">
                <img class="gallery__img"
                src="../src/images/gallery/mosaic/image9.png" alt="">
            </li>
           
    
            <li class="mosaic__item">
                <img class="gallery__img"
                src="../src/images/gallery/mosaic/image10.png" alt="">
            </li>

        </ul>









</section>




    
       
        
     


   
</div>