<section class="gallery">

    <img 
    srcset="../src/images/gallery/gallery-desk-1@1x_1280x430px.png 1x, ../src/images/gallery/gallery-desk-1@2x_1280x430px.png 2x, ../src/images/gallery/gallery-tab-1@1x_786x264px.png 1x, ../src/images/gallery/gallery-tab-1@2x_786x264px.png 2x, ../src/images/gallery/gallery-mob-1@1x_364x122px.png 1x, ../src/images/gallery/gallery-mob-1@2x_364x122px.png 2x "
    
    src="../src/images/gallery/gallery-desk-1@1x_1280x430px.png" alt="Gallery" class="gallery__icon">

</section>

