<section class="hero">
  <div class="container">
    <div class="content">
      <div class="hero-left">
        <h1 class="hero-title">ice cream made with <span class="hero-passion">passion</span></h1>
        <ul class="btm-list">
          <li class="hero-btm-list">
            <a href="#productss" class="hero-btn hero-btn-dark">Products</a>
          </li>
          <li class="hero-btm-list">
            <a href="#about-s" class="hero-btn hero-btn-light">How it’s made?</a>
          </li>
        </ul>
        <div class="hero-about">
          <p class="hero-text-about">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et
          </p>
          <a href="#" target="_blank" rel="noreferrer noopener nofollow" class="about-link">
            <img src="./images/icon/icon-arrow_right.svg" alt="more-link" width="10" height="10" />
          </a>
        </div>
      </div>
      <div class="hero-right">
        <ul class="numbers-list">
          <li class="number-list__item">
            <p class="section-title number-list__num">16</p>
            <p class="number-list__text">cafes</p>
          </li>
          <li class="number-list__item">
            <p class="section-title number-list__num">23</p>
            <p class="number-list__text">food trucks</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
