<!DOCTYPE html>
<html lang="en">
<section class="hero">
    <div class="hero-left">
        <h1 class="hero-title">ice cream made with <span class="hero-passion">passion</span></h1>
        <ul class="btm-list">
            <li class="hero-btm-list"><button class="hero-btm btm-prod btn-light" type="button"
                    href="#products">Products</button>
            </li>
            <li class="hero-btm-list"><button class="hero-btm btm-adv btn-dark" type="button" href="#advantages">How it’s
                    made?</button>
            </li>
        </ul>
        <div class="hero-about">
            <p class="hero-text-about">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et</p>
            <a href="" target="_blank" rel="noreferrer noopener nofollow" class="about-link">
                <svg class="arrow_right-icon" width="20" height="20">
                    <use href="./images/icon/icon-arrow_right.svg"></use>
                </svg>
        </div>
        
    </div>
</section>