<div class="menu-container js-menu-container" id="mobile-menu">
  <button type="button" class="menu-toggle js-close-menu">
    <svg class="menu-toggle__icon-cross" width="14" height="14">
      <use href="./images/footer/icons.svg#icon-close"></use>
    </svg>
  </button>

  <button type="button" class="menu-btn">
    <span class="menu-btn__text">Buy now</span>
    <svg class="menu-btn__icon" width="8" height="10">
      <use href="./images/footer/icons.svg#icon-vector"></use>
    </svg>
  </button>

  <ul class="mobile-nav list">
    <li class="mobile-nav__item">
      <a href="/" class="mobile-nav__link mobile-nav__link--current link">Home</a>
    </li>
    <li class="mobile-nav__item"><a href="#reviewss" class="mobile-nav__link link">About us</a></li>
    <li class="mobile-nav__item">
      <a href="#about-s" class="mobile-nav__link link">How it’s made?</a>
    </li>
    <li class="mobile-nav__item">
      <a href="#productss" class="mobile-nav__link link">Our products</a>
    </li>
    <li class="mobile-nav__item"><a href="#contactss" class="mobile-nav__link link">Contact</a></li>
  </ul>
</div>
