
    <section class="products" id="productss">
<!-- Start section -->
        <p class="section-pretitle  products__pretitle">100% natural</p>

        <h2 class="products__title section-title">products</h2>

        <div class="container">


    <ul class="products__list">

        <li class="products__list-item">
            <h3 class="products__list-name">ice cream</h3>
            <p class="products__list-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
            <p class="products__list-text is-hidden" data-products-text>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
            <button type="button" class="products__btn" data-products-open><svg class="icon-arrow" width="13px" height="13px">
                <use href="./images/products/icon.svg#icon-arrow"></use>
                </svg></button>
        </li>

        
        <li class="products__list-item">
            <h3 class="products__list-name">ice coffee</h3>
            <p class="products__list-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
            <p class="products__list-text is-hidden" data-products-text>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
            <button type="button" class="products__btn" data-products-open><svg class="icon-arrow" width="13px" height="13px">
                <use href="./images/products/icon.svg#icon-arrow"></use>
                </svg></button>
        </li>

        
        <li class="products__list-item">
            <h3 class="products__list-name">milkshakes</h3>
            <p class="products__list-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
            <p class="products__list-text is-hidden" data-products-text>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
            <button type="button" class="products__btn" data-products-open><svg class="icon-arrow" width="13px" height="13px">
                <use href="./images/products/icon.svg#icon-arrow"></use>
                </svg></button>
        </li>

    </ul>
    </div>
    </section>