<section class="products container">

    <div class="products-natural">
    <label for="check_label">100% natural</label>
    <input type="checkbox" name="natural" id="check_label">
    </div>
    
    
    <h2 class="products-title">products</h2>
    
    
    <div class="products-menu">
        <ul class="products-list">
            <li class="products-item">
                <div class="icecream">
                <h3 class="products-name">ice cream</h3>
                <div class="box-text">
                <p class="products-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
                </div>
                <button type="button" class="btn">--</button>
                </div>
            </li>
    
    
    </ul>
    
    </div>
    
    </section>