
    <section class="products">

            <p class="products-label">100% natural</p>

            <h2 class="products-title">products</h2>

            <div class="container">

        <ul class="products-list">

            <li class="products-item">
                <h3 class="products-name product-icecream">ice cream</h3>
                <p class="products-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
                <button type="button" class="btn"><svg class="icon-arrow" width="13px" height="13px">
                    <use href="images/products/icon.svg#icon-arrow"></use>
                    </svg></button>
            </li>

            
            <li class="products-item product-coffe">
                <h3 class="products-name">ice coffee</h3>
                <p class="products-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
                <button type="button" class="btn"><svg class="icon-arrow" width="13px" height="13px">
                    <use href="images/products/icon.svg#icon-arrow"></use>
                    </svg></button>
            </li>

            
            <li class="products-item product-milkshakes">
                <h3 class="products-name">milkshakes</h3>
                <p class="products-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
                <button type="button" class="btn"><svg class="icon-arrow" width="13px" height="13px">
                    <use href="images/products/icon.svg#icon-arrow"></use>
                    </svg></button>
            </li>

        </ul>

            </div>

    </section>