.advantages {
    background-color: #FFF5F6;
   
    @include tel {
        padding-top: 20px;
        padding-bottom: 50px;
    }

    @include tablet {
        padding-top: 33px;
        padding-bottom: 70px;
    }

    @include desktop {
        padding-top: 20px;
        padding-bottom: 70px;
    }
}

.advantages-container {
    background-color: #FFF5F6;
    justify-content: center;
   
}

.advantages__list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        
        @media screen and (max-width: 767px) {
            flex-wrap: wrap;
        }
} 

.advantages__item {
    @include tel {
        width: 100%;
        @media screen and (max-width: 767px) {
            margin-bottom: 0;
        }
        
    }
    
   @include tablet {
        width: calc(100% / 3 - 30px);
        &:not(:last-child) {
        margin-right: 60px;
    }
}
    @include desktop {
        &:not(:last-child) {
        margin-right: 30px;
        }
    }
}

.advantages__title {
    color: var(--accent-color);
    font-family: var(--text-secondary);

    @media screen and (min-width: 320px) {
        font-size: 36px;
        line-height: 1.14;
        margin-bottom: 0;
    }

    @include tel {
        font-size: 36px;
        line-height: 1.14;
        margin-bottom: 0;
    }

    @include tablet {
        font-size: 48px;
        line-height: 1.145;
        margin-bottom: 13px;
    }

    @include desktop {
        font-size: 58px;
        line-height: 1.14;
        margin-bottom: 15px;
    }
}


.advantages__description {
    color: var(--text-black-color);
    font-family: DM Sans;
    font-weight: 700;


    @media screen and (min-width: 320px) {
        font-size: 12px;
        line-height: 1.70;
        width: 230px;
    }
  
    @include tel {
        font-size: 12px;
        line-height: 1.70;
        margin-bottom: 38px;
    }

    @include tablet {
        font-size: 14px;
        line-height: 1.74;
        width: 180px;
        margin-bottom: 0;
    }

    @include desktop {
        font-size: 16px;
        line-height: 1.76;
        letter-spacing: 0.02em;
        width: 330px;
    }
}


.advantages__icon {
    display: block;
    height: 50px;
    margin-bottom: 16px;

    @include tablet {
        margin-bottom: 36px;
    }
    @include desktop {
        margin-bottom: 40px;
    }
}