.contacts{
  padding-top: 44px;
  padding-bottom: 57px;
  background: linear-gradient(180deg, var(--text-white-color) 144px, #fff5f6 2%);

  @media screen and (min-width: 768px) {
    background: 
    linear-gradient(180deg, var(--text-white-color) 135px, 
    #fff5f6 2%);
    padding-top: 60px;
    padding-bottom: 79px;
  }
  @media screen and (min-width: 1280px){
    padding-top: 66px;
    padding-bottom: 83px;
   background-image:url(../images/contacts/contacts-bg@1x_1920x382px.png),
    linear-gradient(180deg, var(--text-white-color) 166px, 
    #fff5f6 2%);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 40%;
    
    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx){
        background-image:url(../images/contacts/contacts-bg@2x_1920x382px.png),
        linear-gradient(180deg, var(--text-white-color) 166px, 
        #fff5f6 2%);
      }
  }
  
   
}

.contacts__list{
  
    margin-top: -20px;

    @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
    margin-bottom: 81px;
    }

    @media screen and (min-width: 1280px) {
    margin-top: -30px;
    margin-left: -30px;
    margin-bottom: 86px;
}

}
.contacts__item{ 
  margin-top: 20px;
  padding: 43px 20px;
  width: 220px;
  margin-left: auto;
  margin-right: auto;

  background: var(--text-white-color);
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  &:last-child{
    @media screen and (max-width: 768px){
        margin-bottom: 54px;
    }
    
  }
  @media screen and (min-width: 768px)  {
  margin-left: 20px;
  width: calc(100% / 3 - 20px);
  
  padding: 50px 31px;
  }
  @media screen and (min-width: 1280px) {
  margin-top: 30px;
  margin-left: 30px;
  width: calc(100% / 3 - 30px);
  
  padding: 51px 43px;
  }
}


.contacts__title{
  display: inline-block;  
  font-size: 12px;
  line-height: 1;
  padding: 4px 24px;
  text-align: center;
  background-color: #F0D1A5;
  border-radius: 4px;
  margin-bottom: 25px;
  color: var(--text-white-color);
  @media screen and (min-width: 768px){
    border-radius: 6px;
    margin-bottom: 25px;
    font-size: 16px;
  }
  @media screen and (min-width: 1280px){
    margin-bottom: 32px;
   
   line-height: 1.87;
  }
}
.contacts__title--bg-green{
  background-color: var(--bg-green-color);
}
.contacts__city{
  font-size: 12px;
  line-height: 1.83;
  margin-bottom: 10px;
  color: var(--text-black-color);
  @media screen and (min-width: 768px){
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 1.86;
  }
  @media screen and (min-width: 1280px){
    
    font-size: 16px;
    line-height: 1.87;
  }
}
.contacts__text{
    @extend %contacts-greyfont; 
  
  margin-bottom: 25px;

  @media screen and (min-width: 768px){
    margin-bottom: 30px;
    
  }
  @media screen and (min-width: 1280px){
    margin-bottom: 32px;
  }
  
}
.contacts__border{
  border-bottom:  1px solid var(--reviews-line-color);
  margin-bottom: 25px;
  @media screen and (min-width: 768px){
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1280px){
    margin-bottom: 32px;
  }
}
.contacts__border-item{
    &:not(:last-child){
    margin-bottom: 10px;
    }
    &:last-child{
    margin-bottom: 25px;
    }
  @media screen and (min-width: 768px){
      &:not(:last-child){
    margin-bottom: 15px;
    }
    &:last-child{
    margin-bottom: 30px;
    }
  }
    @media screen and (min-width: 1280px){
      &:last-child{
    margin-bottom: 32px;
    }
    }
}
.contacts__border-days{
  margin-bottom: 2px;
  font-size: 12px;
  line-height: 1.5;
  color: var(--text-black-color);
  @media screen and (min-width: 768px){
    font-size: 14px;
    line-height: 1.6;
  }
  @media screen and (min-width: 1280px){
    font-size: 16px;
    line-height: 1.7;
  }
}
.contacts__border-clock{
    @extend %contacts-pinkfont; 
    
}
.contact__address-list {
  font-style: normal;
}

.contact__address-link{
  margin-bottom: 2px;
  font-size: 12px;
  line-height: 1.4;
  color: var(--text-grey-color);
  @media screen and (min-width: 768px){
    font-size: 14px;
    line-height: 1.6;
  }
  @media screen and (min-width: 1280px){
    line-height: 1.7;
  }
}
///////////// BUTTONS/////////////
.contacts__buttons{ 
  @include centerFlex ();
  @media screen and (max-width: 768px){
    flex-direction: column;
  }
}
.contacts__buttons-btn{
  @extend %btn-dark;
  height: 44px;
  font-size: 16px;
  line-height: 1.31;
  border: none;
  padding-left: 17px;
  padding-right: 17px;
  border-radius: 22px;
    &:not(:last-child){
        @media screen and (max-width: 768px){
            margin-bottom: 10px;
        }
   @media screen and (min-width: 768px){ 
        margin-right: 15px;
        padding-left: 30px;
        padding-right: 34px;
    }
   }
  
}

.contacts__buttons-btn--white{
  @extend %btn-light;
  height: 44px;
  border-radius: 22px;
  padding-left: 32px;
  padding-right: 32px;

  @media screen and (min-width: 768px){
    padding-left: 38px;
    padding-right: 38px;
  }
}
.contacts__buttons-icon{
  margin-left: 8px;
  @media screen and (min-width: 768px){
    margin-left: 13px;
  }
}
//////MAPS////////
.contacts__backdrop.is-hidden-contacts{
    opacity: 0;
    pointer-events: none;
}
.contacts__backdrop.is-hidden-contacts .contacts__modal-maps {
  transform: translate(100%, -50%) scale(0);
}
.contacts__backdrop{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(200,0,0,0.2);
    transition: opacity 700ms, visibility 700ms;
}
.contacts__modal-maps{
    position: absolute;
    box-shadow: 0 3px 3px rgb(0 0 0 / 12%), 0 4px 6px rgb(0 0 0 / 14%), 0 3px 2px rgb(0 0 0 / 20%);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(1);
    width: 95vw;
    height: 90vh;
    background: #FFF5F6;
    padding: 40px 0px 40px;
    transition-duration: 550ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__maps-img{
 position: absolute;
    bottom: 0px;
    left: 50%;  
    transform: translate(-50%,0); 
}


.contacts__iframe{
    width: 100%;
    height: 100%;
}

.contacts__close-btn {
    width: 40px;
    height: 40px;
    box-shadow: 0px 10 10px 10px rgba(0, 0, 0, 0.25);
    background: var( --text-sub-color);
    top:0;
    right: 0;
    
    position: absolute;
    display: block;
    z-index: 200;
    text-indent: -9999px;
    cursor: pointer;
    &:before,
    &:after {
    content: '';
    width: 20px;
    height: 4px;
    background: var( --text-white-color);
    position: absolute;
    top: 50%;
    left: 25%;
    transform: rotate(45deg);
    transition: all 0.3s ease-out;
}
    &:after {
    transform: rotate(-45deg);
    transition: all 0.3s ease-out;
}
    &:hover:before,
    &:hover:after {
        transform: rotate(180deg);
        background: #BFE2FF; 
    }
    &:hover,
    &:focus {
        
        background: var(--bg-color-mobmenu); 
    }
}


