.gallery {
    background: linear-gradient(to bottom,
        #FFF5F6 40%, #FFFFFF 40%);
    padding-top: 50px;
    padding-bottom: 40px;
    
    @include tablet {
        padding-top: 70px;
        padding-bottom: 60px;
    }
    @include desktop {
        padding-top: 70px;
        padding-bottom: 62px;
    }
}

//  MOSAIC STYLE

.mosaic {
    margin: 0 auto;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
    gap: 5px 5px; 
}

.mosaic__img {
    border-radius: 15%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


.mosaic__item:first-child {
    grid-column: 1/2;
    grid-row: 4/7;
  }
  
.mosaic__item:nth-child(2) {
    grid-column: 2/3;
    grid-row: 3/6;
  }
  
  .mosaic__item:nth-child(3) {
    grid-column: 2/3;
    grid-row: 6/9;
  }
  
  .mosaic__item:nth-child(4) {
    grid-column: 3/5;
    grid-row: 1/7;
  }

  
  .mosaic__item:nth-child(5) {
    grid-column: 3/4;
    grid-row: 7/10;
  }
  
  .mosaic__item:nth-child(6) {
    grid-column: 5/6;
    grid-row: 3/6;
  }
  
  .mosaic__item:nth-child(7) {
    grid-column: 5/6;
    grid-row: 6/9;
  }
  
  .mosaic__item:nth-child(8) {
    grid-column: 6/7;
    grid-row: 2/5;
  }
  
  .mosaic__item:nth-child(9) {
    grid-column: 6/7;
    grid-row: 5/8;
  }
  
  .mosaic__item:nth-child(10) {
    grid-column: 7/8;
    grid-row: 4/7;
  }



.mosaic__item {
    transform: scale(1);
    transition: transform, 500ms;
    &:hover, &:focus {
        transform: scale(1.2);
        z-index: 2;
    }
}