.header {
  position: absolute;
  left: 50%;
  top: 6px;
  z-index: 3;
  width: 100%;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  background-color: transparent;
  transform: translateX(-50%);
  @include tablet {
    top: 12px;
  }

  &__container,
  &__nav {
    @include centerFlex;
  }

  &__container {
    @include maxdesktop {
      padding-top: 15px;
      padding-bottom: 6px;
    }

    @include maxtablet {
      padding-top: 6px;
    }

    @include maxdesktop {
      @include centerFlex($justcont: space-between);
    }
  }

  &__nav {
    margin-left: auto;
    margin-right: auto;

    @include maxdesktop {
      display: none;
    }
  }

  &__list {
    @include centerFlex;
  }

  &__item:not(:last-child) {
    margin-right: 35px;
  }

  .header__link {
    display: block;
    padding-top: 44px;
    padding-bottom: 44px;
    color: var(--text-white-color);
    transition: color 250ms linear;

    &:hover,
    &:focus,
    &--current {
      color: var(--accent-color);
    }
  }

  .header-btn {
    @extend %btn-light;
    padding: 12px 37px;
    border-radius: 22px;

    &__text {
      margin-right: 12px;
    }

    @include maxtablet {
      display: none;
    }
  }

  .is-hidden {
    display: none;
  }
}
