.hero {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  padding-bottom: 160px;
  padding-top: 130px;
  background-color: var(--bg-hero-color);
  background-image: url(../images/hero/hero-mob-2@1x_171x410px.png),
    url(../images/hero/ellipse-pink.svg);
  background-repeat: no-repeat;
  background-position: left 117px bottom, left 36px bottom 79px;
  background-size: 171px 410px, 344px;
  z-index: 2;

  // @include tel {
  //   background-image: url(../images/hero/hero-mob-2@1x_171x410px.png),
  //     url(../images/hero/ellipse-pink.svg);
  //   @include appleimg {
  //     background-image: url(../images/hero/hero-mob-2@2x_171x410px.png),
  //       url(../images/hero/ellipse-pink.svg);
  //   }
  // }

  @include tablet {
    padding-top: 100px;
    padding-bottom: 34px;
    background-image: url(../images/hero/hero-tab-2@1x_143x336px.png),
      url(../images/hero/hero-tab-3@1x_168x133px.png), url(../images/hero/ellipse-pink.svg);

    @include appleimg {
      background-image: url(../images/hero/hero-tab-2@2x_143x336px.png),
        url(../images/hero/hero-tab-3@2x_168x133px.png), url(../images/hero/ellipse-pink.svg);
    }
    background-position: bottom center, bottom right calc(100% / 2 - 277px),
      center left calc(100% / 2 + 50px);
    background-size: 143px 336px, 168px 133px, 324px;
  }
  @include desktop {
    padding-top: 170px;
    padding-bottom: 56px;
    background-image: url(../images/hero/hero-desk-2@1x_236x557px.png),
      url(../images/hero/hero-desk-3@1x_293x232px.png), url(../images/hero/ellipse-pink.svg);
    @include appleimg {
      background-image: url(../images/hero/hero-desk-2@2x_236x557px.png),
        url(../images/hero/hero-desk-3@2x_293x232px.png), url(../images/hero/ellipse-pink.svg);
    }

    background-size: 236px 557px, 293px 232px, 538px;
    background-position: bottom center, bottom right calc(100% / 2 - 300px),
      center left calc(100% / 2 + 50px);
  }

  // animation: circle 3s linear infinite;
  // @keyframes circle {
  //   0% {
  //     background-size: 143px 336px, 224px, 168px 133px;
  //   }
  //   100% {
  //     background-size: 143px 336px, 324px, 168px 133px;
  //   }
  // }
}

// .hero-left {
//   margin-left: 20px;
//   @include tablet {
//     margin-left: 34px;
//   }
//   @include desktop {
//     margin-left: 115px;
//   }
// }

// HERO-TITLE
.hero-title {
  font-family: 'titan One', 'DM Sans';
  max-width: 218px;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  text-transform: uppercase;
  color: var(--text-white-color);
  margin-bottom: 20px;
  @include tablet {
    max-width: 162px;
    font-size: 22px;
    line-height: 1.14;
  }
  @include desktop {
    max-width: 277px;
    margin-bottom: 25px;
    font-size: 38px;
    line-height: 1.16;
  }
}

.hero-passion {
  font-size: 48px;
  line-height: 0.96;
  letter-spacing: 0em;
  color: var(--accent-color);
  @include tablet {
    font-size: 31px;
    line-height: 1.1;
  }
  @include desktop {
    font-size: 58px;
    line-height: 0.9;
  }
}

.btm-list {
  display: flex;
  align-items: center;
  @media (min-width: 480px) and (max-width: 1279px) {
    margin-bottom: 20px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 56px;
  }
}

.hero-btm-list:not(:last-child) {
  margin-right: 8px;
}
.hero-btn {
  @include centerFlex();
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;

  border-radius: 20px;
  padding: 10px 15px;

  @include desktop {
    font-size: 14px;
    line-height: 1.29;
  }
}
.hero-btn-dark {
  color: var(--bg-light-btn);
  background-color: var(--accent-color);
}
.hero-btn-light {
  color: var(--accent-color);
  background-color: var(--text-white-color);
}

.hero-about {
  position: relative;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.5;
  color: var(--text-white-color);
  max-width: 240px;
  padding-top: 46px;

  padding-left: 120px;
  @media screen and (max-width: 479px) {
    display: none;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 56px;
    padding-left: 200px;
    max-width: 420px;
  }
  &::before {
    content: '';
    position: absolute;

    left: 0;
    width: 124px;
    height: 126px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url(../images/hero/hero-tab-1@1x_124x126px.png);
    @include appleimg {
      background-image: url(../images/hero/hero-tab-1@2x_124x126px.png);
    }
    @media (max-width: 1279px) {
      top: 0;
    }
    @media screen and (min-width: 1280px) {
      width: 188px;
      height: 191px;
      bottom: 0;
    }
  }
}
.hero-text-about {
  margin-bottom: 7px;
  @include desktop {
    font-size: 14px;
    line-height: 1.4;
  }
}
.about-link {
  width: 18px;
  height: 18px;
  display: flex;
  margin-top: 7px;
  background-color: var(--text-white-color);
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--accent-color);
}

.arrow_right-icon {
  fill: currentColor;
}
.content {
  display: flex;
  justify-content: space-between;
}

.hero-right {
  @media screen and (max-width: 479px) {
    display: none;
  }
}
.number-list__item:not(:last-child) {
  margin-bottom: 15px;
  @include desktop {
    margin-bottom: 20px;
  }
}
.number-list__num {
  position: relative;
  z-index: 2;
  font-size: 28px;
  line-height: 1.14;
  @include desktop {
    font-size: 46px;
    line-height: 1.15;
  }
  text-align: right;
  &::before {
    content: '';
    position: absolute;
    left: 40px;
    bottom: 18px;
    z-index: -1;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border-radius: 50%;
    @include desktop {
      width: 30px;
      height: 30px;

      left: 65px;
      bottom: 30px;
    }
  }
}
.number-list__text {
  font-size: 8px;
  line-height: 1.25;
  text-align: right;
  color: #ffffff;
  @include desktop {
    font-size: 14px;
    line-height: 1.28;
  }
}

// test app
