.products {
    padding-bottom: 119px;
}

.products-natural {
    font-family: "Titan One";
    font-size: 18px;
    line-height: 1.17;
    text-align: center;
    text-transform: uppercase;
    color: #FFA5BA;
    margin-bottom: 15px;
    }

label {
    cursor: pointer;
}

.products-item {
    display: flex;
    
justify-content: center;
}

.products-title {
font-family: "Titan One";
font-size: 34px;
line-height: 1.15;
text-align: center;
letter-spacing: 0.04em;
text-transform: uppercase;
color: #D41443;
margin-bottom: 30px;
}

.products-name {
font-family: "Titan One";
font-size: 20px;
line-height: 1.15;
text-align: center;
letter-spacing: 0.04em;
text-transform: uppercase;
color: #FFFFFF;
margin-top: 22px;
margin-bottom: 30px;
}

.products-text {
    font-family: "DM Sans";
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.04em;
color: #FFFFFF;
text-align: center;
}

.box-text {
    width: 200px;
    height: 124px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;

}
.icecream {
    justify-content: center;    
    background: #FFB8CA;
    border-radius: 24px;
    // background-image: url(../images/icecream-pink.png);

}

.products-name::after {
    content:"000";
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.products-btn{
    width: 100%;
    justify-content: center;
}

.btn {
    color: #D41443;
    border-radius: 50px;
    width: 40px;
    height: 40px;
}