.reviews {
    @extend %reviews-font;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;

    @include tablet {
       padding-top: 60px;
       padding-bottom: 60px; 
    }

    @include desktop {
        padding-top: 62px;
        padding-bottom: 62px;
    }

    .reviews__slider {
        .slick-dots {
            display: flex;
            justify-content: center;
            list-style: none;

            button {
                color: transparent;
                background-color: transparent;
                border: none;
                outline: none;
            }

            li {
                width: 12px;
                height: 12px;
                border-radius: 50%;
                background-color: #D9D9D9;

                &:not(:last-child) {
                    margin-right: 18px;
                }

                &.slick-active {
                    background-image: url(../images/reviews/icon-home.svg);
                    background-size: contain;
                    background-color: transparent;
                    background-position: center;
                    border-radius: unset;
                }
            }
        }
    }

    .reviews__customer {
        margin: 0 auto 29px auto;

        @include tablet {
            margin-bottom: 19px; 
        }

        @include desktop {
            margin-bottom: 15px;
        }
    }

    .reviews__text-box {
        padding: 43px 50px 26px 50px;
        margin-bottom: 30px;
        background-color: var(--reviews-bg-color);
        z-index: -1;

        @include tablet {
            padding: 47px 36px 34px 40px;
            margin-bottom: 24px;
        }

        @include desktop {
            padding: 47px 54px 39px 50px;
            margin-bottom: 15px;
        }
    }

    .reviews__text {
        position: relative;
        background-image: repeating-linear-gradient(0deg, var(--reviews-line-color) 0 1px, transparent 1px 31px);
        padding-left: 16px;
        padding-right: 16px;
        z-index: 1;

        @include tablet {
            padding-left: 44px;
            padding-right: 44px;
        }

        @include desktop {
            padding-left: 35px;
            padding-right: 35px;
        }


        &::before {
            content: "";
            position: absolute;
            display: block;
            top: -14px;
            left: 1px;
            width: 54px;
            height: 40px;
            background-image: url('../images/reviews/icon-quotes.svg');
            background-repeat: no-repeat;
            background-size: contain;
            z-index: -1;
        }
    }

    .reviews__name {
            margin-bottom: 30px;
            font-size: 20px;
            line-height: 1.86;
            text-align: center;

            @include tablet {
                margin-bottom: 35px;
            }
    
            &::before {
                content: "";
                display: block;
                margin: 0 auto 18px;
                text-align: center;
                width: 32px;
                height: 4px;
                background-image: url('../images/reviews/icon-ellipsis-pink.svg');

                include tablet {
                    margin-bottom: 14px;
                }

                @include desktop {
                    margin-bottom: 15px;
                }
            }
    }
}
